# Telegram
TELEGRAM_BOT_TOKEN=
ADMIN_ID=

# Google Calendar
GOOGLE_CALENDAR_ID=
GOOGLE_OAUTH_CREDENTIALS_PATH=./credentials.json
GOOGLE_OAUTH_TOKEN_PATH=./token.json

# Timezone
TIMEZONE=Europe/Bucharest
