# Telegram
TELEGRAM_BOT_TOKEN=
ADMIN_ID=

# Google Calendar
GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"...","client_id":"..."}

# Database
DATABASE_URL=postgresql://user:password@host:port/dbname

# Timezone
TIMEZONE=Europe/Bucharest
